@font-face {
  font-family: 'Univers';
  src: url('/static/fonts/Univers.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src:  url('/static/fonts/Univers.woff') format('woff'), url('/static/fonts/Univers.ttf')  format('truetype'), url('/static/fonts/Univers.svg#Univers') format('svg');
  font-weight: normal;
  font-style: normal;
}